.card
  .media
    = link_to attraction_path(attraction) do
      = cl_image_tag 'http://lorempixel.com/120/80', class: 'd-flex mr-3 align-self-center rounded-left'
    .media-body.align-self-center
      %h4= attraction.name
      %p.small
        5 stars
        %span.text-muted (5 reviews)

    .d-flex.align-self-center.mr-3
      = link_to attraction_path(attraction), class: 'btn btn-outline-secondary mr-2' do
        %i.fa.fa-plus
