.card
  .card-block
    .media
      .d-flex.align-self-center.mr-3
        %i.fa.fa-align-justify
      = image_tag 'http://lorempixel.com/120/80', class: 'd-flex mr-3 align-self-center'
      .media-body
        %h4.mb-1 adlkfjdsaf
        %p.mb-1 alkdjfsdfs
        .small.text-muted 2 hours

      .d-flex.align-self-center.mr-3
        = link_to 'view', '#', class: 'btn btn-outline-secondary'
      .d-flex.align-self-center
        %i.fa.fa-times
