= search_form_for @q, url: search_url do |f|
  = f.search_field :name_cont, placeholder: 'Search destinations...', class: 'form-control form-control-lg'
  -# = f.submit

-# = search_form_for @q, url: destinations_path, method: :post do |f|
-#   = f.condition_fields do |c|
-#     .field
-#       = f.attribute_fields do |a|
-#         = a.attribute_select associations: [:category]
-#       = f.predicate_select
-#       = f.value_fields do |v|
-#         = v.text_field :value
-#       = link_to "remove", '#', class: "remove_fields"

-#   -# %p= link_to_add_fields "Add Conditions", f, :condition
-#   .field
-#     Sort:
-#     = f.sort_fields do |s|
-#       = s.sort_select
-#   .actions= f.submit "Search"
