%h5.text-uppercase
  Editing Destination
  -# = link_to 'Back', destinations_path
= render 'form', destination: @destination

= link_to 'Destroy', [:admin, :destination], method: :delete, data: { confirm: 'Are you sure?' }
