.row
  .col
    - if @planners.present?
      %table.table.table-striped
        %thead.thead-default
          %tr
            %th Plan Name
            %th Email
            %th First Name
            %th Last Name
            %th actions
        %tbody
          - @planners.each do |planner|
            .col-sm-12
              = link_to planner_path(planner) do
                %tr
                  %td= planner.name
                  %td= planner.user.email
                  %td
                  %td
                  %td= link_to 'edit', edit_admin_planner_path(planner)

    - else
      Add some planners!
