.container
  .row
    .col-xl-10.offset-xl-1
      %h1 Planners
      .row
        - if @planners.present?
          %table.table.table-striped
            %thead
              %tr
                %th Plan Name
                %th User
                %th actions
            %tbody
              - @planners.each do |planner|
                .col-sm-12
                  = link_to planner_path(planner) do
                    %tr
                      %td= planner.name
                      %td= planner.user.email
                      %td= link_to 'edit', edit_admin_planner_path(planner)

        - else
          Add some planners!

-# = link_to 'New Planner', new_admin_planner_path
