%h1
  Attractions
  = link_to 'New attraction', new_admin_attraction_path, class: 'btn btn-primary'
- if @attractions.present?
  %table.table
    %thead
      %tr
        %th
        %th Name
        %th Destination
        %th Actions
    %tbody
      - @attractions.each do |attraction|
        %tr
          %td= image_tag 'http://lorempixel.com/60/40', class: 'img-fluid'
          %td= link_to attraction.name, edit_admin_attraction_path(attraction.id)
          %td= attraction.destination.name
          %td
            show
            edit
            delete
- else
  Add some attractions!
