= link_to 'Back', planners_path
.container
  %h1 Editing Plan
  = render 'form', planner: @planner
  = link_to 'Show', @planner
  %br/
  = link_to 'Destroy', @planner, method: :delete, data: { confirm: 'Are you sure?' }
