-# = link_to 'Back', planners_path
.container-fluid
  -# %h1 Editing Plan
  = render 'form', planner: @planner
  -# = link_to 'Show', @planner
  -# = link_to 'Destroy', @planner, method: :delete, data: { confirm: 'Are you sure?' }
