= link_to 'Back', photos_path
.container
  %h1 Editing Post
  = render 'form', photo: @photo
  = link_to 'Show', @photo
  %br/
  = link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' }
