.container
  .row
    .col-xl-10.offset-xl-1
      .row
        - if @planners.present?
          - @planners.each do |planner|
            .col-sm-12
              = link_to edit_planner_path(planner) do
                %li= planner.name

        - else
          Add some planners!

    = link_to 'New Planner', new_planner_path, class: 'btn btn-primary'
