.container
  .row
    .col-xl-10.offset-xl-1
      .row
        - if @photos.present?
          - @photos.each do |photo|
            .col-sm-12
              = link_to photo_path(photo) do
                = image_tag photo.image.large, class: 'img-fluid'

        - else
          Add some photos!

%br
%br
%br
%br
= link_to 'New Post', new_photo_path
