.container-fluid
  .row
    .col-xl-10.offset-xl-1
      %h1
        Destinations
        .btn
          order
          most popular
          alphabetic

      = render partial: 'components/search', locals: {search_url: destinations_path, search_params: :name_or_city_or_state_cont, search_placeholder: 'Search destinations...'}


      .row
        - if @q.result.count < 1
          %h2 no results found

        - if @destinations.present?
          - @destinations.each do |destination|
            = render partial: 'components/destination_card', locals: {destination: destination}

  -# = link_to 'more', '#', class: 'btn btn-primary'
  = paginate @destinations
