// @import require_tree .
// @import require_self
@import "variables";
@import "bootstrap";
@import "trix";

html {
  font-size: 14px;
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
  // @include media-breakpoint-up(xl) {
  //   font-size: 20px;
  // }
}

body {
  // font-weight: 300;
  padding-top: 63px;
}

b, strong {
  font-weight: $font-weight-bold;
}

.position-relative {
  position: relative;
}

.font-serif {
  font-family: $font-family-serif;
}

.longform {
  font-size: 1.2rem;
}

.card-img-overlay {
  @include gradient-y(transparent, rgba($black, .7), 50%, 100%);
}

.card-title {
  a {
    color: $black;
  }
}

// .jumbotron {
//   min-height: 500px;
// }

// .cover {
//   background-position: center center;
//   background-size: cover;
// }


// .form-control {
//   transition: .25s all;
// }



// p {
//   font-family: $font-family-serif;
// }

// .shadow-lg {
//   box-shadow: 0 10px 20px rgba(black, .05);
//   &:focus {
//     box-shadow: 0 10px 40px rgba(black, .2);
//   }
// }
