search

%table.table.table-striped
  %thead.thead-default
    %tr
      %th photo
      %th email
      %th name
      %th action
  %tbody
    - @users.each do |user|
      %tr
        %td
        %td= link_to user.email, edit_admin_user_path(user.id)
        %td
        %td
