.container-fluid
  - if @attraction.destination.photos.present?
    = cl_image_tag @attraction.destination.photos.first.image.banner, alt: @attraction.destination.name
  = link_to 'Back', destination_path(@attraction.destination)

.container
  -# = cl_image_tag @attraction.destination.photos.first.image.large, alt: @attraction.destination.name
  %h1= @attraction.name
  %p= @attraction.about.html_safe
